<div class="wearables-widget-container">
<div class="wearables-widget">
    <div class="widget-header">
      <img src="https://upload.wikimedia.org/wikipedia/en/d/dc/Calm.com_logo.png" alt="Calm App">
      <div class="header-description">
        <h2>Calm App</h2>
        <p>Connect your wearable to receive a personalized experience</p>
      </div>
    </div>
  <div class="wearables-widget">
    <div class="wearable">
      <img src="https://ouraring-images.imgix.net/https%3A%2F%2Fs3.amazonaws.com%2Fouraring.com%2Fimages%2Fproduct%2Fsimple%2Fpdp-img-carousel-silver-01-heritage%402x.png?ixlib=js-2.3.2&fm=webp&w=684&s=e1a76f599311efc47b47bd0693b1b9d2" alt="Oura Ring">
      <button class="connect-button">Connect to Wearable</button>
    </div>
    <div class="wearable">
      <img src="https://www.fitbit.com/global/content/dam/fitbit/global/pdp/devices/inspire2/herostatic/black/proxima-black-device-3qt.png" alt="Fitbit Inspire">
      <button class="connect-button">Connect to Wearable</button>
    </div>
    <div class="wearable">
      <img src="https://res.garmin.com/en/products/010-02156-05/g/GARMIN-COACH-R_Forerunner45_OF_1001-ddb1e80a-5d03-4266-b7f7-c0df14551aba.png" alt="Garmin Vivosmart">
      <button class="connect-button">Connect to Wearable</button>
    </div>
    <div class="powered-by">
      <a href="https://www.getnoos.com" target="blank">Powered by noos API</a>
    </div>
  </div>
</div>
