body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 40px;
}

.wearables-widget-container {
  background-color: #f2f2f2;
  padding: 20px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.widget-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

.widget-header img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.header-description {
  flex: 1;
}

.header-description h2 {
  margin: 0 0 10px;
  font-size: 24px;
}

.header-description p {
  margin: 0;
  font-size: 16px;
  color: #888;
}

.wearables-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.wearable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.wearable img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-right: 10px;
}

.connect-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.connect-button:hover {
  background-color: #0062cc;
}

.connected {
  background-color: #28a745;
}

.connected:hover {
  background-color: #218838;
}

.powered-by {
  margin-top: 20px;
  font-size: 12px;
  color: #888;
}

.widget-header, .header-description {
  width: 100%;
  max-width: 400px;
}

.hidden {
  display: none;
}

.login-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: hidden inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  }

.login-screen h3 {
  margin-bottom: 20px;
  font-size: 24px;
  align-items: center;
  margin-top: 0 auto 20px;
  text-align: center;
}

.login-screen form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-screen label {
  font-size: 16px;
  margin-bottom: 5px;
}

.login-screen input {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 300px;
}

.login-screen button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 300px;
}

.login-screen button:hover {
  background-color: #0062cc;
}

.back-button {
  background-color: transparent;
  margin-top: 20px;
  border: 2px solid #007bff;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 20px;
}

.back-button:hover {
  background-color: #007bff;
  color: #fff;
}
